.main {
  margin-top: 3.75rem;
}

.products-grid {
  display: grid;

  /* - In CSS Grid, 1fr means a column will take up the
       remaining space in the grid.
     - If we write 1fr 1fr ... 1fr; 8 times, this will
       divide the grid into 8 columns, each taking up an
       equal amount of the space.
     - repeat(8, 1fr); is a shortcut for repeating "1fr"
       8 times (instead of typing out "1fr" 8 times).
       repeat(...) is a special property that works with
       display: grid; */
  grid-template-columns: repeat(8, 1fr);
}

/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 2000px or less, we
   will divide the grid into 7 columns instead of 8. */
@media (max-width: 125rem) {
  .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

/* This @media means when the screen width is 1600px or
   less, we will divide the grid into 6 columns. */
@media (max-width: 100rem) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 81.25rem) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 62.5rem) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 50rem) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 35.938rem) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 28.125rem) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

.product-container {
  padding: 2.5rem 1.563rem 1.563rem 1.563rem;

  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);

  display: flex;
  flex-direction: column;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 11.25rem;
  margin-bottom: 1.25rem;
}

.product-image {
  /* Images will overflow their container by default. To
    prevent this, we set max-width and max-height to 100%
    so they stay inside their container. */
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  margin-bottom: 0.313rem;
  height: 2.714rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.product-rating-stars {
  width: 6.25rem;
  margin-right: 0.375rem;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.188rem;
}

.product-price {
  font-weight: 700;
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
}

.product-quantity-container {
  margin-bottom: 1.063rem;
}

.product-spacer {
  flex: 1;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 1rem;

  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  /* At first, the "Added to cart" message will
     be invisible. Use JavaScript to change the
     opacity and make it visible. */
  opacity: 0;
}

.added-to-cart img {
  height: 1.25rem;
  margin-right: 0.313rem;
}

.add-to-cart-button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 3.125rem;
  font-size: 1.125rem;
}

.added-to-cart-visible {
  opacity: 1;
}
