.checkout-header {
  height: 3.75rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  background-color: white;

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-content {
  width: 100%;
  max-width: 68.75rem;

  display: flex;
  align-items: center;
}

.checkout-header-left-section {
  width: 9.375rem;
}

.amazon-logo {
  width: 6.25rem; /* 100px to rem */
  margin-top: 0.75rem; /* 12px to rem */
}

.amazon-mobile-logo {
  display: none;
}

@media (max-width: 35.9375rem) { /* 575px to rem */
  .checkout-header-left-section {
    width: auto;
  }

  .amazon-logo {
    display: none;
  }

  .amazon-mobile-logo {
    display: inline-block;
    height: 2.1875rem; /* 35px to rem */
    margin-top: 0.3125rem; /* 5px to rem */
  }
}

.checkout-header-middle-section {
  flex: 1;
  flex-shrink: 0;
  text-align: center;

  font-size: 1.4rem; /* 22px to rem */
  font-weight: 500;

  display: flex;
  justify-content: center;
}

.return-to-home-link {
  color: rgb(0, 113, 133);
  font-size: 1.4rem; /* 22px to rem */
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 62.5rem) { /* 1000px to rem */
  .checkout-header-middle-section {
    font-size: 1.25rem; /* 20px to rem */
    margin-right: 3.75rem; /* 60px to rem */
  }

  .return-to-home-link {
    font-size: 1.125rem; /* 18px to rem */
  }
}

@media (max-width: 35.9375rem) { /* 575px to rem */
  .checkout-header-middle-section {
    margin-right: 0.3125rem; /* 5px to rem */
  }
}

.checkout-header-right-section {
  text-align: right;
  width: 9.375rem; /* 150px to rem */
}

@media (max-width: 62.5rem) { /* 1000px to rem */
  .checkout-header-right-section {
    width: auto;
  }
}
